html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: url(i/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
  font:  Merriweather, serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url(i/claw-pointer.png) 12 10, pointer;
}

#timer {
    background-image: url(i/timer.png);
    background-size: cover;
    position: absolute;
    height: 381px;
    width: 212px;
    top: 10px;
    right: 10px;
}
#timer #time {
    color: rgba(100,255,255,0.4);
    font-size: 58px;
    font-family: Roboto Mono, sans-serif;
    position: absolute;
    top: 160px;
    left: 38px;
}
#button-ready {
    padding: 5px;
    border-width: 0px;
    border-radius: 5px;
    background: rgba(30,30,80,0.8);
    color: #ddd;
    font-size: 16px;
    font-family: "Kaushan Script", sans-serif;
    position: fixed;
    bottom: 5px;
    left: 5px; 
    cursor: url(i/claw-pointer.png) 12 10, pointer;
    z-index: 1000; 
}

button {
    margin: 5px;
    padding: 5px 10px 5px 5px;
    border-width: 0px;
    border-radius: 5px;
    cursor: url(i/claw-pointer.png) 12 10, pointer;
    background: rgba(30,30,80,1);
    color: #ddd;
    font-size: 16px;
    font-family: "Kaushan Script", sans-serif;
}

article {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5),  inset 0 0 100px 15px rgba(50,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.5),  inset 0 0 100px 15px rgba(50,0,0,0.3);
  position: absolute;
  padding: 0;
}

article div {
  padding: 10px;
  height: 100%;
}

.sticky {
  background-color: #f6f633;
  width: 150px;
  height: 150px;
  right: 230px;
  top: 30px;
  font-family: "Kaushan Script", cursive;
  color: rgba(60,20,20,0.8);
  font-size: 25px;
}

/* Instructions */
.instructions {
    width: 440px;
    min-height: 600px;
    height: auto;
}
.instructions > div {
  padding: 25px;  
}
.instructions h1, .instructions h2, .instructions h3 {
  font-family: sans-serif;
  margin: 0;
}
.instructions h1 {
    size: 14px;
}
.instructions h2 {
    margin-top: 3px;
    size: 10px;
}
.instructions h3 {
    size: 10px;
}
.instructions p {
    margin: 2px 0;
}
.instructions table {
    border-spacing: 0px;
    border-collapse: collapse;
}
.instructions table td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
}

/* Tax Form */
.tax-form {
  background-color: #f8f8f8;
  width: 440px;
  height: 600px;
}
.tax-form > div {
  padding: 25px;  
}
.tax-form h1 {
  font-size: 20px;
  margin: 0 0 12px;
}
.tax-form table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
.tax-form table tbody th {
    width: 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}
.tax-form table tbody tr:first-child td {
    border-top: solid 1px black;
}
.tax-form table tbody tr:last-child td {
    border-bottom: solid 1px black;
}
.tax-form table em {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    width: 25px;
}
.tax-form table th + td,
.tax-form table td:first-child {
    width: 250px;
    vertical-align: bottom;
}
.tax-form table label {
    display: inline-block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
}
.tax-form table span:after {
    content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
}
.tax-form tr td:last-child {
    border: 1px solid black;    
}
.tax-form table input {
    background: transparent;
    width: 60px;
    text-align: right;
    font-family: "Kaushan Script", cursive;
    border-width:0;
}
.tax-form header input {
     background: transparent;
     border: 1px solid;   
     font-family: "Kaushan Script", cursive;
}
.dnw {
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px 0 10px 10px;
}
.ouo {
border-bottom: 1px solid black;

}

/* Ledger */
.ledger {
    width: 400px;
    min-height: 600px;
    height: auto;
    font-family: "Kaushan Script", cursive;
    font-size: 12px;
    line-height: 16px;
    background-image: repeating-linear-gradient(180deg,rgb(255,255,200),rgb(255,255,200) 17px, rgb(200,100,100) 17px, rgb(255,200,200) 18px);

}
.ledger h1 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 21px;
}
.ledger table {
    border-spacing: 0px;
    border-collapse: collapse;
    vertical-align: top;
    width: 100%;
}

.ledger table tr td:nth-child(1) {
    width: 100px;
}

.ledger table tr td:nth-child(2) {
    width: 200px;
}

.ledger table tr td:nth-child(4) {
    width: 100px;
    text-align: right;
}

.special-form {
   height: 300px;  
}

.official, .official h1 {
  font-family: sans-serif;
}



/* Appraisal Reports*/
.appraisal-report {
  width: 450px;
  height: 350px;
  font-size: 12px;  
}
.appraisal-report h1 {
  margin: 10px 0;
  padding: 0;
  text-align: center; 
  font-family: Merriweather, serif;
  font-variant: small-caps;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.appraisal-report header p {
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.appraisal-report footer {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 10px;
}
.appraisal-report em {
    font-style: normal;
    font-weight: bold;
}
.appraisal-report .sigline {
    float: right;
}
.appraisal-report .sig {
    font-size: 20px;
    padding: 0;
    line-height: 75%;
    text-decoration: underline;
    vertical-align: bottom;
    font-family: "Satisfy", cursive;
}
/* Complaint Note */
.complaint-note {
  font-size: 14px;
  width: 260px;
  height: 360px;
  background-color: #f8e2d2; 
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
  padding: 15px;
}
.complaint-note h1 {
    margin: 0 0 0;
    padding: 0;
}

.complaint-note.font-size-variant-1 {
  font-size: 13px;
}
.complaint-note.font-size-variant-2 {
  font-size: 13.5px;
}
.complaint-note.font-variant-1 {
  font-family: "Waiting for the Sunrise", cursive;    
}
.complaint-note.font-variant-2 {
  font-family: "Annie Use Your Telescope", cursive;    
}
.complaint-note.font-variant-4 {
  font-family: "Special Elite", monospace;    
  font-size: 13px;
}

/* Royal Complaint */
.royal-complaint {
  font-size: 14px;
  width: 300px;
  height: 400px;
  font-family: "Special Elite", monospace;
  font-size: 13px;
  color: #333333;
}

.royal-complaint div {
  padding: 25px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: auto 50px;
}

.royal-complaint img {
  height: 50px;
}

.royal-complaint div p.to,
.royal-complaint div p.body {
   text-align: left;
}

.royal-complaint .body {
    text-indent: 3em;
}

.royal-complaint .date {
    text-align: right;
    display: block;
}
.royal-complaint .from {
    text-align: center;
    display: block;
}

.royal-complaint.font-variant-1 {
    font-family: "Courier New", Courier, monospace;
}

.royal-complaint.font-variant-2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.royal-complaint.font-size-variant-1 {
    font-size: 13px;
}

.royal-complaint.paper-shade-variant-1 {
  background-color: #f5f0e9; 
}

.royal-complaint.paper-shade-variant-2 {
  background-color: #f8e9d9; 
}
/* Shopkeeper Complaint */
.shopkeeper-complaint {
  font-size: 14px;
  width: 300px;
  height: 400px;
  font-family: "Special Elite", monospace;
  font-size: 13px;
  color: #333333;
  padding: 20px;
}
.shopkeeper-complaint header {
  position: relative;
  padding: 2px 0;
  margin: 0 0 0 36px;
}
.shopkeeper-complaint h1 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  border-bottom: 1px solid #333333;
  font-family: Sancreek;
}
.shopkeeper-complaint header span{
  font-size: 10px;
  font-family: Merriweather, serif;
  padding: 2px;
  display:block;
  text-align: right;
}
.shopkeeper-complaint.logo-font-variant-1 h1 {
  font-family: "Miltonian Tattoo";
}
.shopkeeper-complaint.logo-font-variant-2 h1 {
  font-family: Rye;
}
.shopkeeper-complaint .symbol {
  font-family: typobackgroundsregular;
  position: absolute;
  display: block;
  width: 35px;
  height: 40px;
  left: -42px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
}

.shopkeeper-complaint.symbol-variant-1 .symbol {
    width: 33px;
    height: 33px;
    font-size: 50px;
    line-height: 30px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -11px;
    border: 1px solid #333;
}
.shopkeeper-complaint.paper-shade-variant-1 {
  background-color: #f5f0e9; 
}

.shopkeeper-complaint.paper-shade-variant-2 {
  background-color: #f8e9d9; 
}
.shopkeeper-complaint.paper-shade-variant-3 {
  background-color: #eee8d9;   
}

.shopkeeper-complaint.header-variant-1 .symbol {
  left: auto;
  right: -50px;
}
.shopkeeper-complaint.header-variant-1 header {
  margin: 0 60px 0 0px;
  border-bottom: 1px solid #333333;
} 
.shopkeeper-complaint.header-variant-1 header h1 { 
    border-bottom: none; 
}
.shopkeeper-complaint.header-variant-1 header span { 
    text-align: left;
}

.shopkeeper-complaint.header-variant-2 .symbol {
  display: none;
}
.shopkeeper-complaint.header-variant-2 header {
  margin: 0;
} 
.shopkeeper-complaint.header-variant-2 header h1 { 
  text-align: center;
  font-size: 18px;
}
.shopkeeper-complaint.header-variant-2 header span { 
  display: none;
}

/* folded paper effect */
.complaint-note.paper-style-variant-1,
.royal-complaint.paper-style-variant-1,
.shopkeeper-complaint.paper-style-variant-1 {
   color: rgba(20,20,20, 0.75);
   box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 0 0 100px 15px rgba(50,50,0,0.3);
   background: rgb(230,230,230);
   background: -webkit-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,210, 1));
   background: -moz-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,210, 1));
   background: -ms-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,210, 1));
   background: -o-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,210, 1));
   background: linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,210, 1));
}

.complaint-note.paper-style-variant-2,
.royal-complaint.paper-style-variant-2,
.shopkeeper-complaint.paper-style-variant-2 {
   color: rgba(20,20,20, 1);
   box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 0 0 100px 15px rgba(50,50,0,0.3);
   background: rgb(230,230,230);
   background: -webkit-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,220, 1));
   background: -moz-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,220, 1));
   background: -ms-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,220, 1));
   background: -o-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,220, 1));
   background: linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,220, 1));
}
.complaint-note.paper-style-variant-3 {
   color: rgba(40,40,40, 1);
   box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 0 0 100px 15px rgba(50,50,0,0.3);
   background: rgb(240,240,240);
   background: -webkit-linear-gradient(top, rgba(255,255,255, 1),  rgba(240,240,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(240,240,220, 1));
   background: -moz-linear-gradient(top, rgba(255,255,255, 1),  rgba(240,240,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(240,240,220, 1));
   background: -ms-linear-gradient(top, rgba(255,255,255, 1),  rgba(240,240,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(240,240,220, 1));
   background: -o-linear-gradient(top, rgba(255,255,255, 1),  rgba(240,240,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(240,240,220, 1));
   background: linear-gradient(top, rgba(255,255,255, 1),  rgba(240,240,220, 1) 50%, rgba(255,255,255, 1) 51%, rgba(240,240,220, 1));
}
/* Final report */

#final-report, #tips {
  font-family: sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#report h2 {
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.thanks {
    font-size: 30px;
    font-family: "Satisfy", cursive;   
}
/* Detailed final report */
.detailed-report {
    font-family: "Special Elite", monospace;
    font-size: 10px;
    line-height: 14px;
    width: 400px;
    min-height: 500px;
    height: auto;
    padding: 20px;
}
.detailed-report header {
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.detailed-report header p {
  margin: 0;
}

.detailed-report table {
  font-family: "Special Elite", monospace;
  font-size: 10px;
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 10px 0;
}

.detailed-report table th,
.detailed-report table tr {
  font-weight: normal;
  padding: 0;
}

.detailed-report h1,
.detailed-report h2,
.detailed-report h3 {
  font-weight: normal;
  font-family: "Special Elite", monospace;
  font-size: 10px;
  line-height: 12px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.detailed-report table td:nth-child(1) {
  font-family: "Special Elite", monospace;
}
.detailed-report table td:nth-child(1) em,
.detailed-report table tr.error td {
  font-style: normal;
  color: #cc0000;
}

.detailed-report table td:nth-child(2) {
  text-align: right;
  vertical-align: bottom;
  font-family: "Special Elite", monospace;
}


/* Modal Dialog boxes */
.dialog {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: rgba(0,0,0,0.9);
    overflow: scroll;
}
.dialog > div h1 {
  margin: 10px 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
}
.dialog > div {
  width: 700px;
  margin: 100px auto;
  background-color: #eec;
  color: #111;
  font-size: 16px;
  border: 3px solid #844;
  border-radius: 8px;
  padding: 15px;
}

.js-hide, .print-only {
    display:none;
}

#loadscreen {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2000;
    background: rgba(0,0,0,1);  
}

#loadscreen > div {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  right: 50px;
  top: 50px;
  color: #ffffff;
}


@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    .print-only {
      display: block;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    h1, h2, .ledger thead, {
        font-weight: normal !important;      
    }

    body {
      padding: 0  !important;
    }

    article {
      border: 2px dashed black;
      display: inline-block;
      margin: 1em;
      text-align: left;
      position: relative !important;
      left: 0 !important;
      top: 0 !important;
      xwidth: 100% !important;
      page-break-inside: avoid;
      font-weight: normal !important;
    }

    article > div {
      width: 100% !important;
    }

    .appraisal-report { 

    }

    .dialog, #loadscreen, .sticky, #timer, #button-ready {
      display: none !important;
    }

    .complaint-note {
      -webkit-transform-origin: 0px 0px;
      transform-origin: 0px 0px;
      -webkit-transform:scale(1.1);
      transform:scale(1.1);
      margin: 0 36px 46px 0;
    }
    .appraisal-report {
      -webkit-transform-origin: 0px 0px;
      transform-origin: 0px 0px;
      -webkit-transform:scale(1.2);
      transform:scale(1.2);
      margin: 0 90px 80px 0;
    }
    .d1045, .instructions {
      -webkit-transform-origin: center 0;
      transform-origin: center 0;
      -webkit-transform:scale(1.4);
      transform:scale(1.4);
      display: block;
      margin: 0 auto 240px;
      border: none;
      page-break-after: always;
    }
    .ledger {
      -webkit-transform-origin: 0px 0px;
      transform-origin: 0px 0px;
      -webkit-transform:scale(1.2);
      transform:scale(1.2);
      margin: 0 80px 100px 0;
      display: block;
      border: none;
      page-break-after: always;
    }
    .royal-complaint, .shopkeeper-complaint {
      -webkit-transform-origin: center 0;
      transform-origin: center 0;
      -webkit-transform:scale(2);
      transform:scale(2);
      margin: 0 auto 400px auto;
      display: block;
      border: none;
      page-break-after: always;
    }
    #solution-page {
      font-family: Merriweather, serif;
      display: block;
      width: 75%;
      border: none;
      page-break-after: always;
    }
    #solution-page table, #solution-page p {
      border-spacing: 0px;
      border-collapse: collapse;
      width: 3.5in;
    }
    #solution-page th,
    #solution-page td {
      padding: 2px;
      padding: 1em;
      text-align: right;
      border: 1px solid black;
    } 
    #solution-page th, {
      text-align: center;  
    }
}

.ui-draggable, .ui-draggable table {
  cursor: grab;
  cursor: url(i/claw-grab.png) 16 17, auto;
}

.ui-draggable-dragging, .ui-draggable-dragging table  {
  cursor: grabbing;
  cursor: url(i/claw-grabbing.png) 16 17, auto;
}


